.card {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e5e5;
  display: inline-block;
  background-color: #ffffff;

  &.card-block {
    display: block;
  }

  .card-img,
  .card-img-auto {
    height: 300px;
    margin-bottom: 0.5rem;
    img {
      height: 100%;
      width: 100%;
      border-radius: 0.5rem;
    }
  }
  .card-img-auto {
    height: auto;
    max-height: 300px;
  }
  .card-title {
    color: rgba(0, 0, 0, 0.9);
    // display: flex;
    // flex-wrap: nowrap;
    // column-gap: 0.5rem;
    // margin-bottom: 0.25rem;
    // align-items: center;
    // justify-content: space-between;
  }

  .card-desc {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.875rem;
  }
}
