@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
}

#header {
  height: 64px;
  position: relative;
}

ul {
  display: block;
  li {
    display: inline-block;
  }
}

h1 {
  color: #7e7e7e;
  font-weight: normal;
  font-size: 2rem;
  &:hover {
    color: inherit;
  }
}
h2 {
  color: #7e7e7e;
  font-weight: normal;
  font-size: 1.5rem;
  &:hover {
    color: inherit;
  }
}

.bold {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #7e7e7e;
  &:visited {
    color: inherit;
  }
}

p {
  font-size: 1rem;
  line-height: 1.75;
}

button {
  background-color: inherit;
  border: 0;
}

@import './navigation.scss';
@import './footer.scss';
@import './content.scss';
@import './slider.scss';
@import './banners.scss';
@import './card.scss';
@import './catalog.scss';
@import './input.scss';
@import './pages/detail.scss';
