@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#header {
  height: 64px;
  position: relative;
}

ul {
  display: block;
  li {
    display: inline-block;
  }
}

h1 {
  color: #7e7e7e;
  font-weight: normal;
  font-size: 2rem;
  &:hover {
    color: inherit;
  }
}
h2 {
  color: #7e7e7e;
  font-weight: normal;
  font-size: 1.5rem;
  &:hover {
    color: inherit;
  }
}

.bold {
  font-weight: 600;
}

@import './navigation.scss';
@import './footer.scss';
@import './content.scss';
@import './slider.scss';
@import './banners.scss';
